body
{
    margin: 0;
    padding: 0;
    font-family: 'Arial';
	background-image:url("./img/pictuer.jpg");
}
.signup{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background-color:rgba(0.1,0.1,0.1,0.2);
        border-radius: 15px ;

}
h1{
   
    text-align: center;
    color: #f6fdf8;
    padding: 20px;
}
label{
    color:#f6fdf8;
    font-size: 25px;
}
#ePass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
	padding-right: 8px;
}
#nPass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
	padding-right: 8px;
}
#CPass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
	padding-right: 8px;
}

#change{
    width: 300px;
    height: 30px;
    border: 100px 100px 100px 100p ;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}
span{
    color: red;
    font-size: 17px;
}
a{
   
	width: 200px;
    height: 30px;
    border: 100px 100px 100px 100px;
    border-radius: 30px;
    padding-left:  5px;
	padding-right: 5px;
    color: #f6fdf8;
}
#login{
    width: 200px;
    height: 30px;
    border: 100px 100px 100px 100px;
    border-radius: 15px;
    padding-left: 10px;
	padding-right: 10px;
    background-color:rgb(0, 207, 0);


}